<!DOCTYPE html>
<html>

<head>
    <title>Cricket Score App</title>
    <%- include('./styles'); %>
</head>

<body>
    <div class="container">
        <h1>Welcome to the Cricket Score App</h1>
        <div class="submit-btn">
            <p><a href="/add-score">Add a Player's Score</a></p>
        </div>
        <div class="submit-btn">
            <p><a href="/scorecard">View The Scorecard</a></p>
        </div>
    </div>
</body>

</html>